

<div id="hero" class="hero hero--sunset">

</div>

<div class="wrapper">
  <div class="gallery">
    <div class="gallery__item">
      <span class="item__title">Sitecore</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Pellentesque facilisis elit eu lectus blandit, sit amet lacinia enim semper.</p>
    </div>
    <div class="gallery__item">
      <span class="item__title">Custom Development</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Pellentesque facilisis elit eu lectus blandit, sit amet lacinia enim semper.</p>
    </div>
    <div class="gallery__item">
      <span class="item__title">Scalability</span>
      <p>Developed web applications supporting greater than <b>1 million page views</b> per month.</p>
    </div>
    <div class="gallery__item">
      <span class="item__title">Decades of Experience</span>
      <p>Development team members have an average of 10 years experience in industry.    This leads to on-time and on-budget projects.</p>
    </div>
    <div class="gallery__item">
      <span class="item__title">Sitecore</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Pellentesque facilisis elit eu lectus blandit, sit amet lacinia enim semper.</p>
    </div>
    <div class="gallery__item">
      <span class="item__title">Custom Development</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Pellentesque facilisis elit eu lectus blandit, sit amet lacinia enim semper.</p>
    </div>
    <div class="gallery__item">
      <span class="item__title">Scalability</span>
      <p>Developed web applications supporting greater than <b>1 million page views</b> per month.</p>
    </div>
    <div class="gallery__item">
      <span class="item__title">Decades of Experience</span>
      <p>Development team members have an average of 10 years experience in industry.</p>
    </div>
  </div>
</div>
