

<div id="hero" class="hero hero--sunset">

</div>

<div class="wrapper">
  <div class="gallery">
    <div class="gallery__item">
      <span class="item__title">Sitecore</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Pellentesque facilisis elit eu lectus blandit, sit amet lacinia enim semper.</p>
    </div>
    <div class="gallery__item">
      <span class="item__title">Results</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Pellentesque facilisis elit eu lectus blandit, sit amet lacinia enim semper.</p>
    </div>
    <div class="gallery__item">
      <span class="item__title">Custom</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Pellentesque facilisis elit eu lectus blandit, sit amet lacinia enim semper.</p>
    </div>
    <div class="gallery__item">
      <span class="item__title">About Us</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Pellentesque facilisis elit eu lectus blandit, sit amet lacinia enim semper.</p>
    </div>
  </div>
</div>
