

<div id="hero" class="hero hero--sunset">
  <div class="hero__container">
    <span class="hero__label">Leaders in Sitecore Commerce Development</span>
  </div>
</div>

<div class="wrapper">
  <div class="gallery">
    <div class="gallery__item">
      <%= image_tag("computer.png", :alt => "computer") %>
      <span class="item__title">Sitecore</span>
      <p>We've been developing Sitecore Commerce applications since the beginning.  Whether you need your an entirely new implementation or mobilizing an existing site, we can help you.</p>
    </div>
    <div class="gallery__item">
      <%= image_tag("money.png", :alt => "commerce") %>
      <span class="item__title">Commerce</span>
      <p>Have you implemented tokenized payments yet?  Avoid the problems with storing credit cards without sacrifcing your user experience.</p>
    </div>
    <div class="gallery__item">
      <%= image_tag("cloud.png", :alt => "cloud") %>
      <span class="item__title">Scalability</span>
      <p>Developed web applications supporting greater than <b>1 million page views</b> per month.  Let us review your website's SEO and advertising campaigns.</p>
    </div>
    <div class="gallery__item">
      <%= image_tag("time.png", :alt => "time") %>
      <span class="item__title">Decade of Experience</span>
      <p>Development team members have an average of 10 years experience in industry.    This leads to on-time and on-budget projects.</p>
    </div>
    <!--
    <div class="gallery__item">
      <span class="item__title">Sitecore</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Pellentesque facilisis elit eu lectus blandit, sit amet lacinia enim semper.</p>
    </div>
    <div class="gallery__item">
      <span class="item__title">Custom Development</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Pellentesque facilisis elit eu lectus blandit, sit amet lacinia enim semper.</p>
    </div>
    <div class="gallery__item">
      <span class="item__title">Scalability</span>
      <p>Developed web applications supporting greater than <b>1 million page views</b> per month.</p>
    </div>
    <div class="gallery__item">
      <span class="item__title">Decades of Experience</span>
      <p>Development team members have an average of 10 years experience in industry.</p>
    </div>
  -->
  </div>
</div>
