

<div class="heroslider">
  <div>slide 1</div>
  <div>slide 2</div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      $('.heroslider').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        asNavFor: '.slider-for',
        dots: true,
        centerMode: true,
        focusOnSelect: true
      });
    });
  </script>
