
.footerNav{
  list-style-type: none;
  margin: auto;
  padding: 0;
  color: white;
  font-family: Arial;


  ul {display: block; margin:auto; }
}

.footerNav__item {
  li { display: inline; }
  float: left;
  width: 100px;

}
