@import "grid";

.gallery {
  @include row(true);

}
.gallery__item {
  margin-top: 1rem;
  font-family: arial;
  font-size: 12;
  height: 150px;

  img {
    display: block;
    margin: auto;
  }

  @include col;
  @include mq(600px){
    @include col(1/2);
    height: 200px;
  }
  @include mq(900px){
    @include col(1/4);
    height: 250px;
  }

  p {
    margin-top: 1rem;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.item__title {
  display: block;
  text-align: center;
  font-weight: bold;
}
