.nav {
  position: relative;
  top: 50%;
  transform: translateY(50%);
  font-family: sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: right;
  a {
    text-decoration: none;
  }
}

.nav--medium {
  font-size: 1.0em;
}

.nav--white {
  a {
    color: white;
  }
}
