.nav {
  font-family: Courier New;
  text-align: right;
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    display: block;
    list-style-type: none;
    width: 300px;
    margin-left: auto;

  }
}

.nav--medium {
  font-size: 1.0em;
}

.nav--white {
  a {
    color: white;
  }
}

.nav__item {
  float: right;
  width: 120px;
  li { display: inline; }
}
